{% extends "base-index.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="password-container">
    <div class="password-row">
        <h2>Change Password</h2>
        <hr>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change password">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}
