{% extends "base-index.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="password-container">
    <div class="password-row">
        <h2>Password Set</h2>
        <hr>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set password">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>
{% endblock %}
