{% load static %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/google-code-prettify.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js/camera-setting.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>

<!-- for gallery photo -->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

<!-- Template Custom JavaScript File -->
<script src="{% static 'js/custom.js' %}"></script>
